<% content_for :title, "Edit book" %>

<div class="w-full">
  <div class="sm:flex sm:items-center">
    <%= render PageTitleComponent.new(title: "Edit book", description: "Update the book information below.") %>
    <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
      <div class="flex space-x-3">
        <%= render ButtonComponent.new(text: "Show this book", variant: :secondary, href: @book) %>
        <%= render ButtonComponent.new(text: "Back to books", variant: :secondary, href: books_path) %>
      </div>
    </div>
  </div>

  <div class="mt-8">
    <%= render "form", book: @book %>
  </div>
</div>
