<% content_for :title, "Books" %>

<div class="w-full">

  <div class="sm:flex sm:items-center">
    <%= render PageTitleComponent.new(title: "Books", description: "A list of all the books in your library including their title, abstract, and publication date.") %>
    <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
      <%= render ButtonComponent.new(text: "Add book", variant: :primary_block, href: new_book_path) %>
    </div>
  </div>

  <div class="-mx-4 mt-8 sm:-mx-0">
    <%= render DataTableComponent.new(
      data: @books,
      columns: [
        {
          header: "Title",
          content: :title
        },
        {
          header: "Abstract",
          hidden_on_mobile: true,
          content: ->(book) { truncate(book.abstract, length: 50) }
        },
        {
          header: "Created",
          hidden_on_mobile_lg: true,
          content: ->(book) { book.created_at.strftime("%B %d, %Y") }
        },
        {
          header: "Status",
          compact_padding: true,
          content: ->(book) {
            '<span class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">Active</span>'.html_safe
          }
        }
      ],
      actions: [
        { text: "Show", variant: :link, href: ->(book) { book } },
        { text: "Edit", variant: :link, href: ->(book) { edit_book_path(book) } },
        { text: "Delete", variant: :danger_link, href: ->(book) { book }, method: :delete, confirm: "Are you sure?" }
      ]
    ) %>
  </div>
</div>
