<% content_for :title, "New book" %>

<div class="w-full">
  <div class="sm:flex sm:items-center">
    <%= render PageTitleComponent.new(title: "New book", description: "Add a new book to your library.") %>
    <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
      <%= render ButtonComponent.new(text: "Back to books", variant: :secondary, href: books_path) %>
    </div>
  </div>

  <div class="mt-8">
    <%= render "form", book: @book %>
  </div>
</div>
